CB/ebin/*.beam
CB/ebin/boss.app
CB/src/aleppo/aleppo_parser.erl
CB/src/erlydtl/erlydtl_parser.erl
CB/src/protobuffs/protobuffs_parser.erl
CB/src/protobuffs/protobuffs_scanner.erl

chat/*
!chat/boss.config
!chat/src/
!chat/priv/

*.swp
