CB/ebin/*.beam
CB/ebin/boss.app
CB/src/aleppo/aleppo_parser.erl
CB/src/erlydtl/erlydtl_parser.erl
CB/src/protobuffs/protobuffs_parser.erl#CB/src/protobuffs/protobuffs_scanner.erl

chat/ebin/*.beam
chat/ebin/chat.app
cb_admin/ebin/*.beam
chat/log/*
!chat/log/.gitignore
cb_admin/ebin/*.beam

#chat/*
#!chat/boss.config
#!chat/src/
#!chat/priv/

*.swp
*.DS_Store
*.project
*.pyc
