[{boss, [
    {applications, [cb_admin, chat]},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, leetchat},
    {log_dir, "log"},
    {server, misultin},
    %{server, mochiweb},
    {port, 8001},
    {cache_adapter, memcached_bin},
    {cache_enable, true},
    {session_adapter, cache},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ chat, [
    {base_url, "/"}
]},
{ cb_admin, [
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]}
].
