[{boss, [
    {applications, [chat]},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, leetchat},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {cache_adapter, memcached_bin},
    {cache_enable, true},
    {session_adapter, cache},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ chat, [
    {base_url, "/"}
]}
].
