<!DOCTYPE html>
<html>
<head>
    <title>LEET Chat!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
        var chat_room_name = '{{ room_name }}';
        var chat_user_name = '{{ user_name }}';
        var timestamp = {{ timestamp }};
    </script>
</head>
<body>
    <div>
        <h3>{{ user_name }} @ {{ room_name }}</h3>
        <input id="id_msg" name="msg" value="" placeholder="say something here ..." >
    </div>
    <ul id="id_chats">
    </ul>
    <script>
    $(function(){
        function pull(tt){
            $.ajax({
                url: '/chat/pull/'+chat_room_name+'/'+tt+'/',
                type: 'GET',
                dataType: 'json',
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data){
                        console.log(data);
                        if(data.messages){
                            for(var i in data.messages){
                                var message = data.messages[i];
                                $('#id_chats').prepend('<li>'+message.username+':'+message.msg+'</li>');
                            }
                        }
                        if(data.timestamp){
                            timestamp = data.timestamp;
                            console.log('has data: pull - '+data.timestamp);
                            setTimeout(function() { pull(data.timestamp); }, 20);
                        }
                    }else{
                        console.log('no data: pull - '+timestamp);
                        setTimeout(function() { pull(timestamp); }, 20);
                    }
                }
            });
        }

        function send_message(){
            $.ajax({
                url: '/chat/message/',
                type: 'POST',
                data: {room_name:chat_room_name,user_name:chat_user_name,msg:$('#id_msg').val()},
                dataType: 'html',
                success: function(data){
                    console.log(data);
                    $('#id_msg').val('');
                }
            });
        }

        function get_time(){
            $.ajax({
                url: '/chat/get_time/'+chat_room_name+'/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    console.log('get_time');
                    console.log(data);
                    pull(data.timestamp);
                }
            });
        }
        $('#id_msg').keypress(function(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                send_message();
            }
        });
        get_time();
    });

    </script>
</body>
</html>
