<!DOCTYPE html>
<html>
<head>
    <title>LEET Chat!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
        var chat_room_name = '{{ room_name }}';
        var chat_user_name = '{{ user_name }}';
        var timestamp = {{ timestamp }};
    </script>
</head>
<body>
    <div>
        <h3>{{ user_name }} @ {{ room_name }}</h3>
        <input id="id_msg" name="msg" value="" placeholder="say something here ..." >
    </div>
    <ul id="id_chats">
    </ul>
    <script>
    $(function(){
        function pull(tt){
            $.ajax({
                url: '/chat/pull/'+chat_room_name+'/'+tt+'/',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    if(data){
                        console.log(data);
                        if(data.message){
                            $('#id_chats').prepend('<li>'+data.message+'</li>');
                        }
                        pull(data.timestamp);
                    }else{
                        pull(timestamp);
                    }
                }
            });
        }

        function send_message(){
            $.ajax({
                url: '/chat/message/',
                type: 'POST',
                cache: false,
                data: {room_name:chat_room_name,user_name:chat_user_name,msg:$('#id_msg').val()},
                dataType: 'html',
                success: function(data){
                    console.log(data);
                    $('#id_msg').val('');
                }
            });
        }
        $('#id_msg').keypress(function(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code==13){
                send_message();
            }
        });
        pull(timestamp);
    });
    </script>
</body>
</html>
